<!DOCTYPE html>
<html>
<head>
    <title>Breast Cancer Prediction</title>
</head>
<body>
    <h2>Breast Cancer Prediction System</h2>

    <form method="POST">
        <input name="radius_mean" placeholder="Radius Mean" required><br><br>
        <input name="texture_mean" placeholder="Texture Mean" required><br><br>
        <input name="perimeter_mean" placeholder="Perimeter Mean" required><br><br>
        <input name="area_mean" placeholder="Area Mean" required><br><br>
        <input name="smoothness_mean" placeholder="Smoothness Mean" required><br><br>

        <button type="submit">Predict</button>
    </form>

    {% if prediction %}
        <h3>Result: {{ prediction }}</h3>
    {% endif %}
</body>
</html>
